---
// const env = import.meta.env
---

<h2>===environment===</h2>
<div>
  MODE: {import.meta.env.MODE}
  <br />
  BASE_URL: {import.meta.env.BASE_URL}
  <br />
  VITE_GIT_SHORT_VER: {import.meta.env.PUBLIC_GIT_SHORT_VER}
  <br />
  VITE_GIT_TIME: {import.meta.env.PUBLIC_GIT_TIME}
  <br />
  DB_PASSWORD(client is empty): {import.meta.env.DB_PASSWORD}
  <br />
</div>

<style>
  /* your styles go here */
</style>
